aiobotocore==1.2.2
aiohttp==4.0.0a1
aioitertools==0.7.1
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==20.3.0
botocore==1.19.52
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
conda==4.8.3
conda-package-handling==1.7.0
cryptography==2.8
fsspec==0.8.7
googledrivedownloader==0.4
h5py==3.2.1
idna==2.9
isodate==0.6.0
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.1.0
MarkupSafe==2.0.1
multidict==4.7.6
networkx==2.6.3
neuropythy==0.11.9
nibabel==3.2.1
numpy==1.20.1
packaging==20.9
pandas==1.3.4
pimms==0.3.18
Pint==0.17
plyfile==0.7.3
-e git+https://github.com/fxia22/pointnet.pytorch@f0c2430b0b1529e3f76fb5d6cd6ca14be763d975#egg=pointnet
py4j==0.10.9.2
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==19.1.0
pyparsing==3.0.0b2
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.3
PyYAML==6.0
rdflib==6.0.2
requests==2.23.0
ruamel-yaml==0.15.87
s3fs==0.5.2
scikit-learn==1.0.1
scipy==1.6.2
six==1.14.0
threadpoolctl==3.0.0
torch==1.8.1
torch-geometric==2.0.2
torch-scatter==2.0.9
torch-sparse==0.6.12
tqdm==4.46.0
typing-extensions==3.7.4.3
urllib3==1.25.8
wrapt==1.12.1
yacs==0.1.8
yarl==1.6.3
