section {
    text-align: justify;
}

/* Adjusting colors for light and dark mode */

/* Default (light mode) styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode a:hover {
    color: #3700b3;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: #ffffff;
}

body.dark-mode .wy-side-nav-search {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode .wy-menu-vertical {
    background-color: #1f1f1f;
}

body.dark-mode .wy-menu-vertical a {
    color: #e0e0e0;
}

body.dark-mode .wy-menu-vertical a:hover {
    color: #bb86fc;
}

body.dark-mode pre {
    background-color: #2d2d2d;
    color: #e0e0e0;
}

body.dark-mode table {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode table th {
    background-color: #2d2d2d;
    color: #ffffff;
}

body.dark-mode table td {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode .wy-nav-top {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode .wy-nav-content {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .wy-breadcrumbs {
    background-color: #1f1f1f;
    color: #e0e0e0;
}