name: build docs

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v2

    - name: Build the docs
      run: |
        pip install -r requirements-dev.txt
        cd docs && make clean html
        touch docs/_build/html/.nojekyll
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/_build/html
        commit_message: ${{ github.event.head_commit.message }}
